@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: #272932;
  font-family: "Montserrat", serif;
  color: white;
}

#logo {
  width: 60px;
  height: 40px;
  /* background: linear-gradient(to top left, rgba(0, 0, 0, 1), rgba(34, 111, 84, 0.8)); */
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: filter .3s ease-in-out;
  /* object-fit: cover; */

  background-size: contain;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#logo:hover{
  filter: grayscale(0);

}

.activeLink {
  color: #226f54;
  font-weight: bold;
}

.gradient {
  background: linear-gradient(to top left, rgb(34, 111, 84), rgba(34, 111, 84, 0.8));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
